# Ćwiczenia - Pandas

In [ ]:
import pandas as pd
import numpy as np

## Ćwiczenie 31

Załaduje plik csv dostępny jako adres URL do obiektu DataFrame i wyświetl pierwsze 5 wierszy.

In [ ]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'

## Ćwiczenie 32

W obiekcie DataFrame z ćwiczenia 31 określ liczbę brakujących danych w każdej kolumnie (zmiennej). Wyświetl wynik.

## Ćwiczenie 33

Obiekt DataFrame z ćwiczenia 31 posiada kolumnę TotalCharges. Typ tej kolumny to - object, chociaż zawiera ona dane numeryczne. Ustal dlaczego tak jest. Następnie uzupełnij brakujące dane medianą kolumny TotalCharges i przekonwertuj ją do typu float.

## Ćwiczenie 34

W obiekcie DataFrame z ćwiczenia 34 zmień typ kolumn z listy categorical na category, a z listy numerical na float.

In [ ]:
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
               'StreamingTV', 'Contract', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Churn'] 

numerical = ['tenure', 'MonthlyCharges']

## Ćwiczenie 35

Wyświetl podstawowe statystyki kolumn zawierających zmienne kategorialne w obiekcie DataFrame z ćwiczenia 34.

## Cwiczenie 36

Znajdź rozkład zmiennej Churn z obiektu DataFrame z ćwiczenia 34

## Ćwiczenie 37

Pogrupuj dane w obiekcie DataFrame według zmiennej Churn, następnie PaymentMethod i dla tak pogrupowanego zbioru oblicz średnią wartość zmiennej MonthlyCharges.

Oczekiwany wynik:

    Churn  PaymentMethod            
    No     Bank transfer (automatic)    65.049417
           Credit card (automatic)      64.562209
           Electronic check             74.232032
           Mailed check                 41.403911
    Yes    Bank transfer (automatic)    77.875581
           Credit card (automatic)      77.356034
           Electronic check             78.700980
           Mailed check                 54.557143
    Name: MonthlyCharges, dtype: float64

## Ćwiczenie 38

W obiekcie DataFrame z ćwiczenia 34 zamapuj wartości z kolumny Churn:

    "Yes" -> 1
    "No"  -> 0

## Ćwiczenie 39

Wyznacz dla zmiennych numerycznych w obiekcie DataFrame z ćwiczenia 34 macierz korelacji (samodzielnie odszukaj właściwą funkcję języka Python).

## Ćwiczenie 40

Z obiektu DataFrame z ćwiczenia 34 pobierz dziesięć przypadkowych wierszy (próbkę) i zapisz pobrane dane do pliku w formacie csv.

## Ćwiczenie 41

Podane są dwa obiekty typu Series. Połącz te dwa obiekty w jeden obiekt typu DataFrame (jako dwie kolumny) i przypisz do zmiennej. Nazwij kolumny odpowiednio col1 i col2.

In [ ]:
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

## Ćwiczenie 42

Z obiektu DataFrame z ćwiczenia 41 wyodrębnij wiersze, dla których wartości w kolumnie col2 zawierają się między 0.0 a 1.0 (włącznie).

## Ćwiczenie 43

Do obiektu DataFrame z ćwiczenia 41 dodaj nową kolumnę col3, która będzie miała wartości 1, gdy wartość w kolumnie col2 jest nieujemna i -1 w przypadku przeciwnym.

## Ćwiczenie 44

Do obiektu DataFrame z ćwiczenia 43 dodaj nową kolumnę col4, która obetnie wartości z kolumny col2 do przedziału -1.0 do 1.0. Czyli dla wartości w col2 mniejszych niż -1.0 będzie to -1.0 a dla wartości większych od 1.0 będzie to 1.0.

## Ćwiczenie 45

Dla obiektu DataFrame z ćwiczenia 45 wykonaj poniższe polecenia:
- wydrukuj 5 wierszy kolumny col2 o najwyższych wartościach
- wydrukuj 5 wierszy kolumny col2 o najniższych wartościach

## Ćwiczenie 46

Oblicz skumulowaną sumą wartości we wszystkich kolumnach obiektu DataFrame z ćwiczenia 41.

## Ćwiczenie 47

Oblicz medianę (lub kwantyl rzędu 0.5) wartości z kolumny col2 obiektu DataFrame z ćwiczenia 41.

## Ćwiczenie 48

Wyodrębnij wiersze dla których zmienna col2 przyjmuje wartości większe niż 0.0 z obiektu DataFrame z ćwiczenia 41.

## Ćwiczenie 49

Wyodrębnij pierwsze 5 wierszy z obiektu DataFrame z ćwiczenia 41 wykonaj ich konwersję na zmienną typu dictionary (słownik).

## Ćwiczenie 50

Wyodrębnij 5 wierszy obiektu DataFrame z ćwiczenia 41 i przkonwertuj je na format HTML.

## Ćwiczenie 51

Z podanego poniżej obiektu typu DataFrame wyodrębnij wiersze dla których dane w kolumnie C przyjmują wartości większe niż 0.8.

In [ ]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

## Ćwiczenie 52

Z podanego w ćwiczeniu 51 obiektu typu DataFrame wyodrębnij wiersze dla których dane w kolumnie C przyjmują wartości większe niż 0.8, a w kolumnie D mniejsze niż 0.7.

## Ćwiczenie 53

Dokonaj iteracji przez pięć pierwszych wierszy obiektu DataFrame z ćwiczenia 51.

## Ćwiczenie 54

W obiekcie DataFrame z ćwiczenia 51 ustaw wartość NaN w wierszu z indeksem 3 kolumny B oraz NaN w wierszu o indeksie 8 kolumny D.

## Ćwiczenie 55

Z obiektu DataFrame z ćwiczenia 54 usuń wszystkie wiersze zawierające brakujące wartości.

## Ćwiczenie 56

Zauważ, że indeks obiektu z ćwiczenia 54 po usunięciu dwóch wierszy nie przyjmuje kolejnych wartości. Zresetuj indeks (nie dodawaj nowej kolumny).

## Ćwiczenie 57

W obiekcie DataFrame z ćwiczenia 54 określ liczbę brakujących danych w każdej z kolumn.

## Ćwiczenie 58

W obiekcie DataFrame z ćwiczenia 54 zastąp wszystkie brakujące wartości - wartością 0.0.

## Ćwiczenie 59

Zmień kolejność kolumn w obiekcie DataFrame z ćwiczenia 58 na poniższą:

- D,A,B,C

## Ćwiczenie 60

Z obiektu DataFrame z ćwiczenia 59 usuń kolumnę o ozanczeniu D.

## Ćwiczenie 61

Załaduj plik csv z podanego adresu URL do obiektu DataFrame. Ustaw indeks na pierwszą kolumnę załadowanego pliku.

In [ ]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'

## Ćwiczenie 62

Z obiektu DataFrame z ćwiczenia 61 odczytaj listę nazw wszystkich kolumn.

## Ćwiczenie 63

Z obiektu DataFrame z ćwiczenia 61 usuń kolumnę o nazwie New_Price.

## Ćwiczenie 64

W obiekcie DataFrame z ćwiczenia 61 znajdź liczbę brakujących wartości w każdej kolumnie.

## Ćwiczenie 65

W obiekcie DataFrame z ćwiczenia 61 usuń wszystkie wiersze z brakującymi danymi. Wyświetl informacje o obiekcie.

## Ćwiczenie 66

W nazwach kolumn obiektu DataFrame z ćwiczenia 61 zastąp wszystkie wielkie litery małymi.

## Ćwiczenie 67

Znajdź rozkład zmiennej owner_type w obiekcie DataFrame z ćwiczenia 66.

## Ćwiczenie 68

Wyznacz rozkład zmiennej engine w obiekcie DataFrame z ćwiczenia 66. Zwróć uwagę, że jest to zmienna typu object. Usuń trzy ostatnie znaki z każdego elementu tej zmiennej i dokonaj jej konwersji na typ int.

## Ćwiczenie 69

Wyznacz rozkład zmiennej power w obiekcie DataFrame z ćwiczenia 66. Zwróć uwagę, że w tej zmiennej brakujące wartości oznaczono jako "null bhp". Zmień wszystkie brakujące wartości na NaN. Wyświetl rozkład zmiennej po wykonanej konwersji.

## Ćwiczenie 70

W obiekcie DataFrame z ćwiczenia 66 pogrupuj wszystkie dane według kolumny year i policz liczbę wierszy danych dla każdego roku.

## Ćwiczenie 71

Sprawdź rozkład zmiennej transmission w obiekcie DataFrame z ćwiczenia 66 i wykonaj następujące mapowanie wartości tej zmiennej.

- Manual    -> 0
- Automatic -> 1

## Ćwiczenie 72

Zapisz obiekt DataFrame z ćwiczenia 71 do pliku w formacie csv bez zapisywania indeksu.

## Ćwiczenie 73

Załaduj do obiektu DataFrame dane w formacie csv z podanego adresu URL i wyświetl informację o obiekcie.

In [ ]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv'

## Ćwiczenie 74

Wyświetl pięć pierwszych i pięć ostatnich wierszy obiektu DataFramez z ćwiczenia 73.

## Ćwiczenie 75

Zwróć uwagę, że kolumna timestamp w obiekcie DataFrame z ćwiczenia 73 jest typu object. Zamień jej typ na datetime.

## Ćwiczenie 76

Dodaj do obiektu DataFrame z ćwiczenia 75 nową kolumnę hour i przypisz do niej wartość godziny z kolumny timestamp.

## Ćwiczenie 77

Dodaj do obiektu DataFrame z ćwiczenia 76 nową kolumnę month i przypisz do niej numer miesiąca z kolumny timestamp.

## Ćwiczenie 78

Pogrupuj dane z obiektu DataFrame z ćwiczenia 77 według numerów miesięcy obliczając średnią dla zmiennej hum. Przypisz wynik do zmiennej humidity_by_month i zresetuj indeks tej zmiennej.

## Ćwiczenie 79

Pogrupuj dane z obiektu DataFrame z ćwiczenia 77 według kolumny hour obliczając średnią dla zmiennej cnt. Przypisz wynik do zmiennej cnt_by_hour i zresetuj indeks tej zmiennej.

## Ćwiczenie 80

Pogrupuj dane z obiektu DataFrame z ćwiczenia 77 według zmiennych is_weekend oraz hour obliczając średnią dla zmiennej cnt. Przypisz wynik do zmiennej cnt_by_weekend_hour i zresetuj indeks tej zmiennej.

## Ćwiczenie 81

Z obiektu DataFrame z ćwiczenia 77 wyodrębnij wiersze dla których zmienna wind_speed przyjmuje wartości mniejsze niż 10.0 oraz zmienna hum wartości większe niż 90.0.

## Ćwiczenie 82

Z obiektu DataFrame z ćwiczenia 77 wyodrębnij wiersze dla których zmienna is_weekend przyjmuje wartość 1. Wyodrębnione wiersze przypisz do nowej zmiennej typy DataFrame.

## Ćwiczenie 83

Zapisz obiekt DataFrame utworzony w ćwiczeniu 82 do pliku tekstowego. Pomiń zapisywanie indeksu.

## Ćwiczenie 84

Załaduj z adresu URL plik csv do obiektu DataFrame.

In [ ]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'

## Ćwiczenie 85

Sprawdź czy w obiekcie DataFrame z ćwiczenia 84 istnieją zduplikowane wiersze.

## Ćwiczenie 86

Z obiektu DataFrame z ćwiczenia 84 usuń zduplikowane wiersze. Wyśiwetl infomacje o obiekcie.

## Ćwiczenie 87

Wyświetl kolumny o typie zmiennej obiect objektu DataFrame z ćwiczenia 86.

## Ćwiczenie 88

Przekonwertuj zmienne obiektu DataFrame z ćwiczenia 86 o nazwach:
- sex
- smoker
- region


na typ kategorialny. Wyświetl infomacje o obiekcie.

## Ćwiczenie 89

Znajdź nazwy kolumn obiektu DataDramez z ćwiczenia 87 zawierających dane typu float i przedstaw je jako listę.

## Ćwiczenie 90

Wykonaj na obiekcie DataFrame z ćwiczenia 86 następujące operacje:

- przypisz do zmiennej df_cat wszystkie kolumny zawierające zmienne kategorialne (utwórz kopię)
- przypisz do zmiennej df_num wszystkie kolumny zawierające zmienne numeryczne (utwórz kopię)

## Ćwiczenie 91

Wyświetl statystki zmiennej df_cat utworzonej w ćwiczeniu 90.

## Ćwiczenie 92

Wyświetl statystki zmiennej df_num utworzonej w ćwiczeniu 90.

## Ćwiczenie 93

Wyświetl średnie i odchylenie standardowe dla zmiennych numerycznych z obiektu DataFrame z ćwiczenia 86.

## Ćwiczenie 94

Sprawdź, czy w obiekcie DataFrame utworzonym w ćwiczeniu 86 brakuje jakichkolwiek danych.

## Ćwiczenie 95

Dokonaj mapowania odpowiedzi w zmiennch kategorialnych do wartości 0 i 1 w obiekcie DataFrame z ćwiczenia 86. Po zakodowaniu wszystkie kolumny zawierające zmienne kategorialne przypisz do zmiennej df_dummies.

## Ćwiczenie 96

Wyzancz macierz korelacji zmiennych w obiekcie df_dummies utworzonej w świczeniu 95. Macierz korelacji zapisz w zmiennej corr

## Ćwiczenie 97

Z macierzy korelacji utworzonej w ćwiczeniu 96 wyodrębnij kolumnę charges i posortuj jej wartości w porządku malejącym.

## Ćwiczenie 98

Skopujuj obiekt df_dummies do obiektu data. Następnie odczytaj z obiektu data kolumnę charges i przypisz ją do zmiennej target.

## Ćwiczenie 99

Utwórz obiekt typu DataFrame z poniższego słownika.

In [ ]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

## Ćwiczenie 100

Wyświetl informacje o obiekcie DataFrame utworzonym w ćwiczeniu 99. A następnie przekonwertuj kolumny na odpowiedni typ według poniższego schematu:

- size   -> category
- color  -> category
- gender -> category
- weight -> float
- bought -> category

Ponownie wyświetl informacje o obiekcie.

## Ćwiczenie 101

Przekoduj wszystkie zmienne kategorialne w obiekcie DataFrane z ćwiczenia 100 na kodowanie 0-1 w miejsce "no" - "yes".

## Ćwiczenie 102

Przekoduj wszystkie zmienne kategorialne w obiekcie DataFrane z ćwiczenia 100 na kodowanie 0-1 w miejsce "no" - "yes". Użyj dodatkowo argumentu `drop_first = True`.

## Ćwiczenie 103

Podany plik market.json wczytaj do obiektu typu DataFrame.

## Ćwiczenie 104

W obiekcie DataFrame z ćwiczenia 103 odczytaj nazwę kraju z kolumny Profil. Odczytane dane umieść w nowej kolumnie o nazwie Kraj.

## Ćwiczenie 105

Z obiektu DataFrame z ćwiczenia 104 wybierz kolumnę Kraj i wyświeetl posortowaną listę nazw krajów, które występują więcej niż raz.

## Ćwiczenie 106

W obiekcie DataFrame z ćwiczenia 104 zmienna "Zmiana %" posiada typ object. Przekonwertuj zmienną na typ float.

## Ćwiczenie 107

Na obiekcie DataFrame z ćwiczenia 106 wykonaj poniższe operacje:
- wyświetl wiersz o najmniejszej wartości w kolumnie "Zmiana %"
- wyświetl wiersz o największej wartości w kolumnie "Zmiana %"

## Ćwiczenie 108

Z obiektu DataFrame z ćwiczenia 106 wyodrębnij wszystkie wiersze dla których wartość w kolumnie "Zmiana %" jest większa lub równa 0.0 i zapisz je w pliku "positive.json". Wiersze dla których wartość jest ujemna zapisz do pliku "negative.json".

## Ćwiczenie 109

Podane są dwa pliki:

- amazon.csv
- tesla.csv

Wczytaj pliki do dwóch obiektów DataFrame. Ustaw indeks na kolumnę Date. Wyświetl zawartość plików.

## Ćwiczenie 110

W odczytanych wcześniej obiektach DataFrame dodaj prefix amzn do każdej nazwy kolumny obiektu amazon oraz tsla do każdej kolumny obiektu tesla. Ponadto zmień wielkie litery na małe w nazwach wszystkich kolumn obu obiektów.

## Ćwiczenie 111

Połącz obiekty DataFrame z ćwiczenia 110.

## Ćwiczenie 112

Z połączonego w ćwiczeniu 111 obiektu DataFrame wybierz kolumny amzn_open, amaz_close, tsla_open, tsla_close i zapisz je w nowym obiekcie DataFrame.

## Ćwiczenie 113

Przypisz do obeiktu DataFrame utworzonego w ćwiczeniu 112 nowe kolumny:
- amzn_change
- tsla_change

które będą zawierały procentową zmian ceny close w stosunku do ceny open wyliczoną według zależności:
- zmiana = close / open -1

## Ćwiczenie 114

Do obiektu DataFrame z ćwiczenia 113 dodaj nową kolumnę similarity_flag, której wartości przyjmą wartość 1 kiedy znak wartości zapisanej w kolumnach amzn_change i tsla_change będzie tego samego znaku i 0 w przypadku przeciwnym.

## Ćwiczenie 115

Oblicz procent sesji giełdowych dla któryxh spółki Amazon i Tesla miały ten sam kierunek notowań (similarity_flag == 1).

## Ćwiczenie 116

Podane są trzy słowniki. Zbuduj z nich trzy obiekty DataFrame o nazwach:

- products
- orders_day_1
- orders_day_2

In [ ]:
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}

orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       

orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}

## Ćwiczenie 117

Połacz obiekty orders_day_1 i orders_day_2 w jeden obiekt orders. Zwróć uwagę na indeks połączonego obiektu (nie dopuść do aliasowania).

## Ćwiczenie 118

Utwórz obiekt DataFrame o nazwie results poprzez połączenie obiektów products i orders po wartości kolumny product_id.

## Ćwiczenie 119

Na podstawie kolumn quantity oraz price dodaj do obiektu DataFrame utworzonego w ćwiczeniu 118 nową kolumnę o nazwie total zawierającą łączną kwotę każdego zamówienia.

## Ćwiczenie 120

Zapisz obiekt DataFrame z ćwiczenia 119 do plików:

- results.csv (pomiń indeks przy zapisie)
- results.html
- results.json - ustaw wcięcie na 4 znaki spacji

## Ćwiczenie 121

Dane są dwa obiekty typu DataFrame. Wykorzytując metodę merge dokonaj połączenia obu obiektów typu INNER wykorzystując kolumnę dept_id.

In [ ]:
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

## Ćwiczenie 122

Wykorzystaj obiekty DataFrame z ćwiczenia 121 do połączenia metodę merge typu LEFT wykorzystując kolumnę dept_id. Zwróć uwagę na brak dept_id o wartości "005".

## Ćwiczenie 123

Wykorzystaj obiekty DataFrame z ćwiczenia 121 do połączenia metodę merge typu RIGHT wykorzystując kolumnę dept_id. Zwróć uwagę na brak dept_id o wartości "003" i "004".

## Ćwiczenie 124

Wykorzystaj obiekty DataFrame z ćwiczenia 121 do połączenia metodę merge typu OUTER wykorzystując kolumnę dept_id. Zwróć uwagę na brakujące dane.

## Ćwiczenie 125

Dane są dwa obiekty typu DataFrame. Wykorzytując metodę merge dokonaj połączenia obu obiektów typu INNER wykorzystując kolumnę dept_id. Zwróć uwagę na zduplikowany wiersz w obiekcie employees.

In [ ]:
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})

departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})

## Ćwiczenie 126

Wykonaj taką samą operację jak w ćwiczeniu 125 ale tym razem przed połączeniem usuń z danych zduplikowane dane.

## Ćwiczenie 127

Przygotuj korzystając z tabeli przestawnej następujące zestawienie z podanych danych.

               tip  total_bill
    day                       
    Fri   2.734737   17.151579
    Sat   2.993103   20.441379
    Sun   3.255132   21.410000
    Thur  2.771452   17.682742

In [ ]:
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

## Ćwiczenie 128

Przygotuj korzystając z tabeli przestawnej następujące zestawienie z podanych w ćwiczeniu 127 danych.

                      tip  total_bill
    day  sex                         
    Fri  Female  2.781111   14.145556
         Male    2.693000   19.857000
    Sat  Female  2.801786   19.680357
         Male    3.083898   20.802542
    Sun  Female  3.367222   19.872222
         Male    3.220345   21.887241
    Thur Female  2.575625   16.715312
         Male    2.980333   18.714667

## Ćwiczenie 129

Przygotuj korzystając z tabeli przestawnej następujące zestawienie z podanych w ćwiczeniu 127 danych.

            tip  total_bill
    day                    
    Fri    4.73       40.17
    Sat   10.00       50.81
    Sun    6.50       48.17
    Thur   6.70       43.11

## Ćwiczenie 130

Przygotuj korzystając z tabeli przestawnej następujące zestawienie z podanych w ćwiczeniu 127 danych.

                             tip  total_bill
    day  sex    smoker                      
    Fri  Female No      3.125000   19.365000
                Yes     2.682857   12.654286
         Male   No      2.500000   17.475000
                Yes     2.741250   20.452500
    Sat  Female No      2.724615   19.003846
                Yes     2.868667   20.266667
         Male   No      3.256563   19.929063
                Yes     2.879259   21.837778
    Sun  Female No      3.329286   20.824286
                Yes     3.500000   16.540000
         Male   No      3.115349   20.403256
                Yes     3.521333   26.141333
    Thur Female No      2.459600   16.014400
                Yes     2.990000   19.218571
         Male   No      2.941500   18.486500
                Yes     3.058000   19.171000

## Ćwiczenie 131

Z tabeli przestawnej z ćwiczenia 130 wybierz wiersze zawierające dane dla niedzieli.

## Ćwiczenie 131

Z tabeli przestawnej z ćwiczenia 130 wybierz wiersze zawierające dane dla niedzieli oraz wyłącznie dla mężczyzn.